
@{
    ViewData["Title"] = "Администрация";
}

<style>
    body {
        background-image: url('https://coolwallpapers.me/picsup/5688017-dark-grey-wallpapers.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<div class="align-self-stretch h-100 text-center">
    @for(int i=0; i<5; i++)
    {
        <br />
    }
    <h1 class="display-4 fw-bold text-white">Добре дошли в Администрация!</h1>
 </div>

<<div class="container mt-5 overflow-hidden">
    <div class="row fs-2">
        <a asp-area="default" asp-controller="Article" asp-action="All" class="btn btn-primary btn-lg text-center text-black fw-bold">ВСИЧКИ СТАТИИ</a>
    </div>
</div>