@model ErrorViewModel
@{
    ViewBag.Title = "Страницата не е намерена";
}

<style>
    body {
        background-image: url('https://coolwallpapers.me/picsup/5688017-dark-grey-wallpapers.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<br />
<br />
<h1 class="text-danger text-center">@ViewBag.Title!</h1>
<h2 class="text-danger text-center">Възникна грешка по време на заявката Ви! Не откриваме Вашата страница!</h2>
<br />
<br />
<h1 class="text-center text-danger">Грешка 404</h1>