@{
    ViewData["Title"] = "Начална страница";
}

<style>
    body {
        background-image: url('https://coolwallpapers.me/picsup/5688017-dark-grey-wallpapers.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<div class="row align-items-center">
    <div class="col fs-3 fw-bold align-items-center">
        <div>
            <p class="text-white text-center">Статии</p>
        </div>
        <div class="text-center">
        <a class="btn btn-primary text-center btn-lg text-black fw-bold" asp-area="" asp-controller="Article" asp-action="All">Всички статии</a>
        </div>
            <h3> </h3>
            <div class="text-center">
        <a class="btn btn-primary text-center btn-lg text-black fw-bold" asp-area="" asp-controller="Article" asp-action="AllForThisCoach">Моите статии</a>
        </div>
            <h3> </h3>
                <div class="text-center">
        <a class="btn btn-primary text-center btn-lg text-black fw-bold" asp-area="" asp-controller="Article" asp-action="Add">Добави статия</a>
        </div>
    </div>
    <div class="col">
        <hr />
        <div class="align-items-center">
            <img src="https://thumbs.dreamstime.com/b/fitness-logo-gym-center-79664378.jpg"
                 alt=""
                 width="400"
                 height="350"
                 class="alignnone size-medium wp-image-560930" />
        </div>
        <p></p>
        <h2 class="text-center text-white fw-bold">Добре дошли!</h2>
    </div>
    <div class="col fs-3 fw-bold align-items-center">
        <div>
            <p class="text-white text-center">Програми</p>
        </div>
        <div class="text-center">
        <a class="btn btn-primary text-center btn-lg text-black fw-bold" asp-area="" asp-controller="Program" asp-action="All">Всички програми</a>
        </div>
        <h3> </h3>
            <div class="text-center">
        <a class="btn btn-primary text-center btn-lg text-black fw-bold" asp-area="" asp-controller="Program" asp-action="AllForThisCoach">Моите програми</a>
        </div>
        <h3> </h3>
                <div class="text-center">
        <a class="btn btn-primary text-center btn-lg text-black fw-bold" asp-area="" asp-controller="Program" asp-action="Add">Добави програма</a>
        </div>
    </div>
</div>